<nav class="navbar navbar-expand-sm bg-dark-ing navbar-dark" style="height: 60px; color: white;">
  <div style="width: 150px; height:60px; background-color: white;">
    <img src="../assets/images/logo.hd.png" width="140" style="padding: 12px 0px 0px 15px;">
  </div>

  <strong>&nbsp;&nbsp; Stock Management System</strong>
  <ul class="navbar-nav">
    <li class="nav-item">
      <span style="color: white;"></span>
    </li>
  </ul>

  <!-- <ul class="nav navbar-nav navbar-right">
    <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
  </ul> -->
</nav>
<div class="container-fluid bg-3">
  <router-outlet></router-outlet>
</div>
<br><br>

<footer class="container-fluid text-center">
  <br><br><br><br>
</footer>